* {
	font-family: "宋体";
}


/*首页*/
/*top*/

#shouye .top {
	margin: 0;
}

#shouye .top .mui-card-content {
	width: 100%;
	height: 205px;
	background: url(../images/1.jpg) no-repeat;
	background-size: 100% 100%;
}

#shouye .top .mui-card-content .mui-icon-extra {
	color: #fff;
	position: absolute;
	top: 10%;
	right: 10%;
}

#shouye .top .mui-input-row {
	width: 60%;
	position: absolute;
	bottom: 10%;
	left: 20%;
}

#shouye .top .mui-input-row .mui-input-clear {
	background: rgba(255, 255, 255, 0.5);
	border-radius: 15px;
}


/*card1*/

#shouye .card1 div {
	width: 25px;
	height: 25px;
	background: #F8CA02;
}

#shouye .card1 p {
	margin-left: 10px;
	color: #555555;
	font-size: 15px;
	line-height: 25px;
}


/* sec1*/

#shouye .sec1 .mui-card-content {
	width: 100%;
	height: 45vw;
	background: url(../images/2.jpg) no-repeat;
	background-size: 100% 100%;
	border-radius: 10px;
	padding: 20px;
	margin-top: 10px;
}

#shouye .sec1 .mui-card-content .p1 {
	color: #fff;
	font-size: 18px;
}

#shouye .sec1 .mui-card-content .p2 {
	color: #fff;
	font-size: 12px;
}

#shouye .sec1 .mui-card-content .a1 {
	display: block;
	width: 40px;
	height: 40px;
	margin-top: 10%;
}

#shouye .sec1 .mui-card-content .a1 img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

#shouye .sec1 .mui-card-content .p3 {
	color: #fff;
	margin: 16% 0 0 15%;
}

#shouye .sec1 .mui-card-content .a2 {
	color: #fff;
	margin-top: -5%;
}

#shouye .sec1 .mui-card-content .a2 .span1 {
	color: #F8CA02;
}

#shouye .sec1 .mui-card-content .a2 .span2 {
	position: relative;
	top: -5px;
}


/*sec2*/

#shouye .sec2 .mui-card-content {
	padding: 0 20px;
}

#shouye .sec2 .mui-card-content .text {
	width: 58%;
}

#shouye .sec2 .mui-card-content .text .text1 {
	font-size: 20px;
	color: #000;
}

#shouye .sec2 .mui-card-content .text .text2 {
	font-size: 14px;
}

#shouye .sec2 .mui-card-content img {
	width: 40%;
	height: auto;
	border-radius: 10px;
}

#shouye .sec2 .mui-card-content li {
	margin: -10px 10px 20px 0;
}

#shouye .sec2 .mui-card-content li a {
	color: #555;
	font-size: 12px;
}

#shouye .sec2 .mui-card-content li a .span1 {
	color: red;
}


/*旅行*/

#lvxing p {
	color: #000;
	font-size: 30px;
	margin: 15% 0 10%;
}

#lvxing form .mui-input-row {
	height: auto;
	margin: 20px 0;
}

#lvxing form input {
	float: left;
	width: 40%;
	border: 1px solid #333;
	border-radius: 5px;
}

#lvxing .duoxuan .kuang {
	float: left;
	line-height: 40px;
}

#lvxing .duoxuan .kuang input {
	-webkit-appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	margin: 10px 10px 0;
}

#lvxing .duoxuan .kuang input:checked {
	background: red;
}

#lvxing form textarea {
	float: left;
	width: 45%;
	border-radius: 5px;
	border: 1px solid #333;
}

#lvxing form button {
	background: #EBCC11;
	width: 40%;

	margin-left: 35%;
}


/*聊天*/

#liaotian p {
	font-size: 25px;
	color: #000;
	margin-top: 5%;
}

#liaotian ul li a img {
	border-radius: 50%;
}

#liaotian ul li a div span {
	float: right;
	font-size: 12px;
}

#liaotian ul li a div p {
	font-size: 14px;
}


/*主页*/

#zhuye .mui-card {
	margin: 0;
	position: relative;
}

#zhuye .mui-card .mui-card-content img {
	width: 100%;
	height: auto;
}

#zhuye .mui-card .mui-card-content .bianji {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 5%;
}

#zhuye .mui-card .mui-card-content .bianji p {
	color: #fff;
	font-size: 20px;
	margin: 5% 0;
}

#zhuye .mui-card .mui-card-content .bianji a {
	display: block;
	width: 50px;
	height: 50px;
	margin: auto;
}

#zhuye .mui-card .mui-card-content .bianji a img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

#zhuye .mui-card .mui-card-content .bianji button {
	background: rgba(255, 255, 255, 0.3);
	border-radius: 10px;
	color: #fff;
	width: 100px;
	height: 25px;
	line-height: 15px;
	position: relative;
	left: 30%;
}
#zhuye ul li{
	padding: 30px;
}
#zhuye ul li .span1{
	color: #EBCC11;
}
#zhuye ul li .span2{
	color: #777;
}


